# ***Car Price Prediction***

In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

In [11]:
data = pd.read_csv("cpp (1).csv")
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [12]:
predict = "price"
data = data[["symboling", "wheelbase", "carlength", "carwidth", "carheight", "curbweight", "enginesize", "boreratio", "stroke", "compressionratio", "horsepower", "peakrpm", "citympg", "highwaympg", "price"]]
x = np.array(data.drop([predict], 1))
y = np.array(data[predict])

print("Independent Dataset: \n", x)
print("Dependent Dataset: \n", y)

Independent Dataset:
 [[ 3.000e+00  8.860e+01  1.688e+02 ...  5.000e+03  2.100e+01  2.700e+01]
 [ 3.000e+00  8.860e+01  1.688e+02 ...  5.000e+03  2.100e+01  2.700e+01]
 [ 1.000e+00  9.450e+01  1.712e+02 ...  5.000e+03  1.900e+01  2.600e+01]
 ...
 [-1.000e+00  1.091e+02  1.888e+02 ...  5.500e+03  1.800e+01  2.300e+01]
 [-1.000e+00  1.091e+02  1.888e+02 ...  4.800e+03  2.600e+01  2.700e+01]
 [-1.000e+00  1.091e+02  1.888e+02 ...  5.400e+03  1.900e+01  2.500e+01]]
Dependent Dataset:
 [13495.    16500.    16500.    13950.    17450.    15250.    17710.
 18920.    23875.    17859.167 16430.    16925.    20970.    21105.
 24565.    30760.    41315.    36880.     5151.     6295.     6575.
  5572.     6377.     7957.     6229.     6692.     7609.     8558.
  8921.    12964.     6479.     6855.     5399.     6529.     7129.
  7295.     7295.     7895.     9095.     8845.    10295.    12945.
 10345.     6785.     8916.5    8916.5   11048.    32250.    35550.
 36000.     5195.     6095.     6795.     6695.     7395.    10945.
 11845.    13645.    15645.     8845.     8495.    10595.    10245.
 10795.    11245.    18280.    18344.    25552.    28248.    28176.
 31600.    34184.    35056.    40960.    45400.    16503.     5389.
  6189.     6669.     7689.     9959.     8499.    12629.    14869.
 14489.     6989.     8189.     9279.     9279.     5499.     7099.
  6649.     6849.     7349.     7299.     7799.     7499.     7999.
  8249.     8949.     9549.    13499.    14399.    13499.    17199.
 19699.    18399.    11900.    13200.    12440.    13860.    15580.
 16900.    16695.    17075.    16630.    17950.    18150.     5572.
  7957.     6229.     6692.     7609.     8921.    12764.    22018.
 32528.    34028.    37028.    31400.5    9295.     9895.    11850.
 12170.    15040.    15510.    18150.    18620.     5118.     7053.
  7603.     7126.     7775.     9960.     9233.    11259.     7463.
 10198.     8013.    11694.     5348.     6338.     6488.     6918.
  7898.     8778.     6938.     7198.     7898.     7788.     7738.
  8358.     9258.     8058.     8238.     9298.     9538.     8449.
  9639.     9989.    11199.    11549.    17669.     8948.    10698.
  9988.    10898.    11248.    16558.    15998.    15690.    15750.
  7775.     7975.     7995.     8195.     8495.     9495.     9995.
 11595.     9980.    13295.    13845.    12290.    12940.    13415.
 15985.    16515.    18420.    18950.    16845.    19045.    21485.
 22470.    22625.   ]

<ipython-input-12-e8e25f11f0f3>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = np.array(data.drop([predict], 1))

In [13]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2)

model = DecisionTreeRegressor()
model.fit(xtrain, ytrain)
predictions = model.predict(xtest)

In [14]:
print(model.score(xtest, predictions))

1.0